<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    <style>
        table,td,th{
            border: 1px black;
        }
        th{
            background-color: lawngreen;
            font-weight: bold;
        }
        td{
            background-color: palegreen;
            
        }
        table{
            margin-left: 400px;
            margin-bottom: 90px;
            margin-right: 100px;
            margin-top: 200px;
        }
        body{
            background-size: 100%;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
        
    </tr>
    <tr>
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
        
    </tr>
    <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
        
    </tr>
    <tr>
        <td>4</td>
        <td>Sorghum</td>
        <td>Good</td>
        <td>150 Bags</td>
        
    </tr>
    <tr>
        <td>5</td>
        <td>Beans</td>
        <td>Good</td>
        <td>200 Bags</td>
        
    </tr>
    <tr>
        <td>6</td>
        <td>Millet</td>
        <td>Good</td>
        <td>150 Bags</td>
        
    </tr>
</table>

</body>
</html>